.jobCardForm {
    padding: 5px 20px;
}

.wrapper fieldset {
    margin: 20px 0;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black (0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 500px;
    background-color: whitesmoke;
}

.modal-header, .modal-footer {
    padding: 10px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 10px;
    border-top: 1px;
    border-bottom: 1px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}